JWT_SECRET=
MONGODB_URL=
PORT=80

SMS_URL="https://sms.mobileadz.in/api/push.json?apikey=6465ea2888e1f&rutoe=trans_dnd&sender=GOMZIF&mobileno=+917486873619&text=demo"
SMS_API=
SMS_ROUTE=
SMS_SENDER=

TEST_RAZORPAY_API_KEY=
TEST_RAZORPAY_APT_SECRET=

RAZORPAY_API_KEY= 
RAZORPAY_APT_SECRET=

OAUTH_JWT_SECRET=